:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: grid;
  place-items: center; /* Centers content horizontally and vertically */
  height: 100vh; /* Full viewport height */
  margin: 0;
  padding: 0;
}

#root {
  width: 100%; /* Take full width */
  max-width: 600px; /* Optional: limit the max width */
  height: auto; /* Let the height adjust based on content */
  background-color: white;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Optional: shadow */
}

.main {
  width: 100%; /* Make the main element take full width inside #root */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Optional: shadow */
  padding: 20px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  width: 100%; /* Ensure it takes full width of parent */
  gap: 10px; /* Add spacing between form elements */
}

.username {
  padding: 10px;
  margin-bottom: 10px;
}
