:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background-color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  background-image: url("/public/bootDev.png");

}

#root {
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100%; 
  height: 98vh;
}

.main {
  width: 70%;
  height: 70%; 
  /* padding: 20px; */
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(0, 0, 0, 0.2); 
  border-radius: 16px; 
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2); 
 
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 20px;
}

.loginForm h1 {
  font-weight: bold;
}

.userInp {
  padding: 20px 13px;
  outline: none;
  border: 0cap;
  border-radius: 5px;
  width: 50%;
  min-width: 180px;
  font-size: 15px;
}

.loginSub {
  padding:10px 0px;
  width: 20%;
  font-size: 15px;
  font-weight: bold;
  color: #242424;
  background-color: rgb(167, 169, 170);
  border: 0cap;
  border-radius: 8px;
}

.loginSub:hover {
  cursor: pointer;
  opacity: 0.8;
}

.articleInbox {
  display: flex;
  margin: 0px 20px;
  
}

.List {
  border-right: 1px solid rgb(158, 158, 158);
  width: 27%;
  height: 68.5vh;
  padding: 18px 5px;
}

.Msger {
  border-right: 1px solid rgb(158, 158, 158);
  width: 53%;
}

.Msger1 {
  border-bottom: 1px solid rgb(158, 158, 158);
  height: 10vh;
}

.Msger2 {
  height: 49vh;
}

.Msger3 {
  border-top: 1px solid rgb(158, 158, 158);
  /* height: 12vh; */
}

.ListProfile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.listImg {
  width: 60px;
  border-radius: 50%;
}

.ListUsername {

}

.videoCallSvg {
  width: 25px;
}

.threeP {
  width: 20px;
}

.ListProfileNest {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.ListSearchBar {
  display: flex;
  width: 90%;
  margin-top: 20px;
  justify-content: space-between;

}

.SearchBar {
  border: 0cap;
  outline: none; 
  padding: 6px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 80%;
}

.SearchBtn {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 25px;
  color: rgba(97, 97, 97, 0.5);
  outline: none;
  border: 0cap;
  border-radius: 5px;
  padding: 0px 5px;
}

.SearchBtn:hover {
  cursor: pointer;
  color: rgba(155, 155, 155, 0.5);
  background-color: rgba(0, 0, 0, 0.4);
}